<div>
    {{#with main}}
  <main>
    <section>
        {{> title data="My educationss" big=true}}
            <ul class="ps-5">
                    {{#each educations}}
                        <li>
                            {{name}}
                            {{#unless isEnd}}
                                {{#if name isEnd=false}}
                                (ще в процесі)
                                {{/if}}
                            {{/unless}}    
                        </li>
                    {{/each}}
            </ul>
        </section>

        <section>
            {{> title data="My certificates" big=false}}
              <ul class="ps-5">

                 {{#each certificates}}
                   <li>
                      {{name}} 
                          
                           {{#if id includeZero=true}} ({{id}}) {{/if}}

                     
                   </li>

                 {{/each}}
              </ul>
        </section>
  </main>
   {{/with}}
</div>




