{{! 
  Це леяут по замовчюванню, котрий вже містить базову структуру HTML документа
  І котрий обгортає код container файлів для будь-яких ендпоїнтів
}}

<html>

  <head>
<<<<<<< HEAD
    <title>
      {{page.title}}
    </title>
    <meta charset='utf-8' />
    <link href='css/index.css' rel='stylesheet' />
  </head>

  <body>

    {{!  ↓  ця кострукція показує куди шаблонізатору треба вставляти код з container файлу   }}
    {{{body}}}

  </body>
=======
        <title>
            Web page
        </title>
        <meta charset='utf-8' />
        <link href='css/index.css' rel='stylesheet' />
        
  </head>

  
        
{{!  ↓  ця кострукція показує куди шаблонізатору треба вставляти код з container файлу   }}
    {{{body}}}

     
     
    </body>
>>>>>>> 40289a8ee67d99b7b5a295a1816851f2b75e348a
</html>